body{
  background-color: ivory;
}
h1{
  color: darkgrey;
}

.logo{
  position:absolute;
  left:0;
  top:0;
  width:75px;
  height: auto;
}

nav{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

nav li {
  float: right;
  display: flex;
  justify-content: space-around;
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #aa8d56;
  color: #aa8d56;
  outline: medium none;
  padding: 15px;
  text-decoration: none;
}
