<h1>Animal Owners</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone Number</th>
  </tr>
<% for owner in @owners %>
  <tr>
    <td><%= owner.name %></td>
    <td><%= owner.phone_number %></td>
  </tr>
<% end %>
</table>
